/* General Styles */
* {
    box-sizing: border-box;
}
body {
    background-color: green;
}
/* Gameboard */
.board-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}
/*.row {*/
    /*width: 100%;*/
    /*height: 20vh;*/
/*}*/
/*.row:nth-of-type(1) .cell,*/
/*.row:nth-of-type(2) .cell,*/
/*.row:nth-of-type(3) .cell {*/
    /*border-bottom: none;*/
/*}*/
.cell {
    width: 12.5%;
    border: 1px solid #fff;
    float: left;
    height: 10vh;
}
.piece {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 3vh;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}
