/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    /*background-color: green;*/
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.game {
    background-image: url('./images/adventuretimewallpaper.jpg');
    background-size: cover;
}

.game h1 {
    font-family: cursive;
    color: black;
    text-shadow: 1px 1px white;
    font-weight: bolder;
    letter-spacing: 4px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -1%);
}

.home {
    background-image: url('./images/adventuretime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home h1 {
    font-family: cursive;
    color: #ff33b8;
    text-shadow: 1px 1px black;
    font-weight: bolder;
    letter-spacing: 4px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.home h2 a {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    color: #FFE212;
    text-shadow: 1px 1px black;
    font-family: cursive;
    font-weight: bolder;
    text-decoration-color: black;
}

.home h2 a:hover {
    color: white;
}

.characters {
    background-image: url('./images/ooo.jpg');
    background-size: cover;
    color: white;
    font-weight: bold;
}

.characters header {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 20vh;
    position: relative;
}

.characters h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
}

.characters main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.characters .left {
    height: 90%;
    width: 25%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    position: relative;
}

.characters .right {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 90%;
    width: 70%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    position: relative;
}

.char {
    width: 18%;
    height: 15vh;
    background-color: rgba(199,21,133, .7);
    border: 2px solid black;
    display: flex;
    position: relative;
}

.char img {
    height: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.left a {
    color: deeppink;
    text-decoration-color: white;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}

.left p {
    padding: 10%;
    padding-top: 25%;
}

.left a:hover {
    color: blue;
}

.characters main h3 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Gameboard */
.board-container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}
/*.row {*/
    /*width: 100%;*/
    /*height: 20vh;*/
/*}*/
/*.row:nth-of-type(1) .cell,*/
/*.row:nth-of-type(2) .cell,*/
/*.row:nth-of-type(3) .cell {*/
    /*border-bottom: none;*/
/*}*/
.cell {
    width: 12.5%;
    border: 1px solid #fff;
    float: left;
    height: 10vh;
    background-color: rgba(56, 188, 71,.7);
    position: relative;
}
.piece {
    height: 80%;
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 1px rgba(44, 53, 57, .6);
}
.black {
    background: radial-gradient(#0C090A 0, black 70%);
    border: 3px solid black;
}
.white {
    background: radial-gradient(white 0, antiquewhite 70%);
    border: 3px solid antiquewhite;
}
.eligibleSpace {
    background-color: rgba(227, 249, 56, .7);
}

.finn.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/finn.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.finn.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/finn.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.jake.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/jake.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.jake.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/jake.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.princess-bubblegum.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/pb.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.princess-bubblegum.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/pb.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.ice-king.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/iceking.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.ice-king.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/iceking.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.gunter.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/gunter.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.gunter.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/gunter.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.peppermint-butler.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/pepbut.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.peppermint-butler.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/pepbut.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.lady-rainicorn.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/ladyrainicorn.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.lady-rainicorn.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/ladyrainicorn.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.marceline.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/marceline.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.marceline.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/marceline.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.lumpy-space-princess.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/lsp.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.lumpy-space-princess.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/lsp.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.litch.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/litch.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.litch.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/litch.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.shelby.white{
    position: absolute;
    background-image: url('./images/shelby.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.shelby.black{
    position: absolute;
    background-image: url('./images/shelby.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.bmo.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/bmo.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.bmo.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/bmo.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.fiona.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/fionna.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.fiona.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/fiona.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.simon.white{
    position: absolute;
    height: 90%;
    background-image: url('./images/simon.png'), radial-gradient(white 0, antiquewhite 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid antiquewhite;
}

.simon.black{
    position: absolute;
    height: 90%;
    background-image: url('./images/simon.png'), radial-gradient(#0C090A 0, black 70%);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
}
